@import '../../scss/styles.scss';

.recipeCard {
  display: flex;
  width: 220px;
  height: 341px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25), 0px 4px 250px 0px rgba(0, 0, 0, 0.02) inset;
  backdrop-filter: blur(21px);
  img {
    width: 220px;
    height: 180px;
    border-radius: 12px;
  }
  .informationBox {
    display: flex;
    box-sizing: border-box;
    width: 220px;
    height: 145px;
    padding: 12px 24px 16px 24px;
    margin-bottom: 16px;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    .recipe-name {
      color: rgba(255, 255, 255, 0.90);
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: 'poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      text-align: center;
      line-height: 20px;
    }
    p.content {
      color: rgba(255, 255, 255, 0.90);
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: 'poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 27px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    h4 {
      color: rgba(255, 255, 255, 0.90);
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: 'poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-align: center;
      text-decoration: underline;
      padding: 4px 0px;
    }
    .glass {
      color: rgba(255, 255, 255, 0.90);
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: 'poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 12px;
      font-style: italic;
      font-weight: 400;
      line-height: normal;
    }
    ol.recipe-list {
      width: 100%;
      li {
        color: rgba(255, 255, 255, 0.90);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: 'poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
      }
    }
  }
  .informationBox::-webkit-scrollbar {
    width: 5px;
  }
  .informationBox::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.40);
  }
  .click-info {
    position: relative;
    color: rgba(255, 255, 255, 0.90);
    font-style: italic;
    font-size: 12px;
    top: -12px;
    width: 100%;
    text-align: center;
  }
  .cardDecoration {
    position: relative;
    width: 176px;
    height: 1px;
    background-color: #C4C4C4;
    top: -10px;
    border-radius: 30px;
    padding: 0px;
    margin: 0px;
  }
}

.recipeCard:hover {
  background: rgba(255, 255, 255, 0.25);
}