@import '../../scss/styles.scss';

.inventory {
  grid-area: inventory;
  background-color: $darkBackground;
  border-radius: 12px;
  margin: 10px;
  box-shadow: $darkBackgroundShadow 5px 5px 5px;
  #inventoryList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 90%;
    overflow-y: scroll;
    .barInventory {
      font-size: 30px;
    }
  }
  #recipeListState{
    box-sizing: border-box;
    width: 100%;
    min-height: 50px;
    height: 10%;
    padding: 10px;
    font-size: 30px;
  }
}