@import '../../scss/styles.scss';

.api {
  grid-area: api;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $darkBackground;
  border-radius: 12px;
  margin: 10px;
  box-shadow: $darkBackgroundShadow 5px 5px 5px;
  #ingredientDisplay {
    display: flex;
  }
}