@import '../../scss/styles.scss';

.api {
  grid-area: api;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: $darkBackground;
  border-radius: 12px;
  margin: 10px;
  box-shadow: $darkBackgroundShadow 5px 5px 5px;
  overflow-y: scroll;
  #ingredientDisplay {
    display: flex;
  }
}

.ingredients,
.recipes {
  align-items: baseline;
}

.blurb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .info-text {
    text-wrap: balance;
    text-align: center;
    margin: 10px;
    font-size: 30px;
    height: 100%;
  }
}

.none {
  text-align: center;
  font-size: 30px;
  h4 {
    font-weight: bold;
    font-size: 34px;
    padding: 10px;
  }
  div {
    padding: 10px;
  }
}