@import '../../scss/styles.scss';

#info-button {
  position: absolute;
  box-sizing: border-box;
  top: 10px;
  left: 10px;
  height: 28px;
  width: 28px;
  border-radius: 30px;
  border: solid 1px $standardFontColor;
  color: $standardFontColor;
  font-weight: bold;
  font-size: 24px;
  font-family: 'inter', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  line-height: 28px;
}