@import '../../scss/styles.scss';

#InventoryDisplay {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content:first baseline;
  padding: 24px;
  width: 460px;
  height: 100vh;
  border-radius: 0px 30px 30px 0px;
  #recipeListState {
    box-sizing: border-box;
    #totalRecipes {
      border-radius: 30px;
      color: rgba(255, 255, 255, 0.80);
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding-left: 6px;
      margin: 5px 0px;
    }
  }
  #inventoryList {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 16px;
    flex-shrink: 0;
    flex-wrap: wrap;
  }
}

