.mainContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-areas:

    'o o o o'
    'b v v v'
    'b v v v'
    'b v v v'
    'b v v v'
    'b v v v'

  ;
}

.options {
  grid-area: o;
  border: 1px solid black;
}

.bar {
  grid-area: b;
  border: 1px solid black;
}

.view {
  grid-area: v;
  border: 1px solid black;
}