.mainContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-areas:

    'o o'
    'b v'

  ;
}

.options {
  grid-area: o;
  height: 15vh;
  border: 1px solid $options-lighter;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: $options;
  button {
    background-color: $button;
    color: whitesmoke;
    font-weight: bold;
    font-size: 1em;
    height: 3em;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
  }
  button:hover {
    background-color: $button-hover;
  }
  .lookup {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid $options-lighter;
    .field {
      height: 2.5em;
      border-radius: 10px;
      text-align: center;
      margin: 1em;
    }
    .button {
      background-color: $button;
      color: whitesmoke;
      font-weight: bold;
      font-size: 1em;
      height: 3em;
      padding: 1em;
      margin: 1em;
      border-radius: 10px;
    }
    .button:hover {
      background-color: $button-hover;
    }
  }
}

.bar {
  grid-area: b;
  display: flex;
  justify-content: center;
  min-width: 20vw;
  max-width: 25vw;
  height: 85vh;
  border: 2px solid $bar-lighter;
  overflow-y: scroll;
  background-color: $bar;
  .barCard {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    width: 18vw;
    border: 1px solid $smoke-border;
    border-radius: 10px;
    margin-top: 10px;
    margin-inline: 1em;
    background-color: whitesmoke;
    span {
      font-size: 1.2em;
    }
  }
}

.loading {
  font-size: 2em;
  padding-top: 1em;
  font-style: italic;
}

//base style for view port
.view {
  color: whitesmoke;
  display: flex;
  justify-content:center;
  align-items:center;
  flex-wrap: wrap;
  min-width: 75vw;
  max-width: 80vw;
  height: 85vh;
  background-color: $base;
  grid-area: v;
  border: 2px solid $base-lighter;
  .blurb {
    text-align: center;
    font-size: 2em;
    margin: 2em;
    em {
      text-decoration: underline;
    }
  }
}

//view when in ingredients mode
.ingredients {
  display: flex;
  overflow-y: scroll;
  justify-content:flex-start;
  .ingredientCard {
    font-size: 1em;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid $smoke-border;
    border-radius: 10px;
    height: 3em;
    width: 7em;
    margin: .5em;
  }
  .ingredientCard:hover {
    background-color: $ingredientBttn-hover;
  }
}

//view when in recipes mode
.recipes {
  overflow: scroll;
  justify-content:flex-start;
  align-items: flex-start;
  .recipeCard {
    color: black;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    line-height: 2em;
    border: 1px solid black;
    border-radius: 10px;
    margin: 2vw;
    text-align: center;
    * {
      padding: 0 1em;
    }
    h3 {
      font-weight: bold;
      text-decoration: underline;
      font-size: 1.5em;
    }
    .content{
      font-style: italic;
    }
    .glass {
      font-style: italic;
    }
    .instructions {
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      text-align: left;
      em {
        text-decoration: underline;
        padding-right: .5em;
        padding-left: 0px;
      }
    }
    .ingredientLabel {
      font-weight: bold;
      text-decoration: underline;
      font-size: 1.1em;
    }
    .ingredientsList {
      padding-bottom: 1em;
    }
    .recipeImg {
      width: 15vw;
      margin-top: 1em;
    }
  }
}

.pending {
  justify-content: center;
  align-items: center;
}


