.displayGrid {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid:
    [row1Start] "input input" 1fr [row1End]
    [row2Start] "inventory api" 2fr [row2End]
    [row3Start] "inventory api" 2fr [row3End]
    / 1fr 3fr;
}

body {
  background-color: cornsilk;
  font-size: 100%;
}