@import '../../scss/styles.scss';

.recipe-card.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  width: 330px;
  max-height: auto;
  min-height: 512px;
  max-height: 80%;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25), 0px 4px 250px 0px rgba(0, 0, 0, 0.02) inset;
  backdrop-filter: blur(21px);
  img {
    width: 330px;
    height: 270px;
    border-radius: 18px;
  }
  .information-box {
    display: flex;
    box-sizing: border-box;
    width: 330px;
    height: auto;
    max-height: 50%;
    padding: 18px 36px 24px 36px;
    margin-bottom: 24px;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    h3 {
      color: $standardFontColor;
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: 'poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 27px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-align: center;
    }
    p.content {
      color: $standardFontColor;
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: 'poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 27px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    h4 {
      color: $standardFontColor;
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: 'poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 21px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-align: center;
      text-decoration: underline;
      padding: 4px 0px;
    }
    .glass {
      color: $standardFontColor;
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: 'poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 18px;
      font-style: italic;
      font-weight: 400;
      line-height: normal;
      padding: 4px 0px;
    }
    ol.recipe-list {
      width: 100%;
      li {
        color: $standardFontColor;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: 'poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
  .information-box::-webkit-scrollbar {
    width: 8px;
  }
  .information-box::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.40);
  }
  .card-decoration {
    position: relative;
    width: 264px;
    height: 2px;
    background-color: #C4C4C4;
    top: -15px;
    border-radius: 45px;
    padding: 0px;
    margin: 0px;
  }
}

.modal-overlay {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(black, .7);
  z-index: 9;
}